*{
    box-sizing: border-box;
    
}


html, body, div, span, h1, h2, h3, p, a, img, ul, li, form, label, aside, footer, header, nav {
    margin: 0px;
    
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    /* color: rgb(255, 255, 255); */
}

body {
    padding: 0px 10px 10px;
    min-height: 100%;
    font-family: Roboto, Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1;
    background-image:  url("../public/image/background.png");
    background-position: center;
    background-size: cover;
  }
  
/* 
  body {
    padding: 0px 10px 10px;
    min-height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/image/background.png");
    background-position: center;
    background-size: cover;
  } */